@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
/*
  @media (min-width: $tablet) {

  }
  @media (min-width: $small-screen) { 

  }
  @media (min-width: $large-screen) {

  }
*/
.dark-bg {
  background-color: #141414;
}

.light-1-bg {
  background-color: #f5f5f5;
}

.light-2-bg {
  background-color: #eceff1;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  font-size: 3.0517578125rem;
  font-weight: 400;
  padding: 1em 0em 0.5em 0em;
}

h2 {
  font-size: 2.44140625rem;
  font-weight: 400;
  padding: 1em 0em 0.5em 0em;
}

h3 {
  font-size: 1.953125rem;
  font-weight: 400;
  padding: 1em 0em 0.5em 0em;
}

h4 {
  font-size: 1.5625rem;
  font-weight: 400;
  padding: 1em 0em 0.5em 0em;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
  padding: 1em 0em 0.5em 0em;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
  padding: 1em 0em 0.5em 0em;
}

.text-large {
  font-size: 1.25rem;
}

p, .text-medium {
  font-size: 1rem;
}

.text-small, .tag {
  font-size: 0.8rem;
}

.section-title {
  padding: 0;
  font-weight: 700;
}

.btn, .btn-light, .btn-secondary, .btn-primary {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 45px;
  padding: 0.5em 2em;
  border: none;
  font-weight: 700;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn-primary {
  background-color: #00576b;
  color: #f5f5f5;
}
.btn-primary:hover {
  background-color: #002e40;
}

.btn-secondary {
  background-color: rgba(224, 225, 228, 0.8);
  color: #141414;
}
.btn-secondary:hover {
  background-color: #e0e1e4;
}

.btn-light {
  background-color: #f5f5f5;
  color: #141414;
}
.btn-light:hover {
  opacity: 85%;
}

.category {
  display: inline-block;
  background-color: rgba(0, 87, 107, 0.05);
  color: #00576b;
  border: 1px solid #00576b;
  border-radius: 50px;
  padding: 0.2em 1.5em;
  text-decoration: none;
}
.category:hover {
  background-color: rgba(0, 87, 107, 0.2);
  font-weight: 600;
}

.tag {
  display: inline-block;
  background-color: rgba(20, 20, 20, 0.05);
  border: 1px solid #e0e1e4;
  border-radius: 50px;
  padding: 0.2em 1em;
  text-decoration: none;
}
.tag:hover {
  background-color: rgba(20, 20, 20, 0.15);
  font-weight: 600;
}

.card, .submit-section .text-card, .new-post {
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #e0e1e4;
  background-color: white;
}

.container {
  margin: 0 5vw;
}
@media (min-width: 62em) {
  .container {
    margin: 0 8vw;
  }
}
@media (min-width: 87em) {
  .container {
    max-width: 75em;
    margin: 0 auto;
  }
}

.section {
  padding: 5rem 0;
}

@media (min-width: 62em) {
  .row-2-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 62em) {
  .row-2-col .col-50 {
    flex: 50%;
  }
}

@media (min-width: 43.75em) {
  .row-3-col {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .row-3-col:after {
    content: "";
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}

.grid-cell {
  margin-bottom: 2rem;
  min-width: 0;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.grid-cell:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 43.75em) and (max-width: calc(62em - 0.01em)) {
  .row-3-col:after {
    width: calc(50% - 2rem);
  }

  .grid-cell {
    margin-right: 2rem;
    width: calc(50% - 2rem);
  }
  .grid-cell:nth-of-type(2n) {
    margin-right: 0;
  }
  .grid-cell:nth-of-type(2n-1):nth-last-of-type(2) {
    margin-bottom: 0;
  }
}
@media (min-width: 62em) {
  .row-3-col:after {
    width: calc(33% - 2rem);
  }

  .grid-cell {
    margin-right: 2rem;
    width: calc(33% - 2rem);
  }
  .grid-cell:nth-of-type(3n) {
    margin-right: 0;
  }
  .grid-cell:nth-of-type(3n-1):nth-last-of-type(2), .grid-cell:nth-of-type(3n-2):nth-last-of-type(3) {
    margin-bottom: 0;
  }
  .grid-cell:nth-of-type(3n-2):nth-last-of-type(2) {
    margin-bottom: 0;
  }
  .grid-cell:nth-of-type(3n-2):last-of-type {
    margin-right: calc(33% + 4rem);
  }
}
body {
  overflow-x: hidden;
}

nav {
  background-color: #00576b;
  box-shadow: 0px 4px 20px rgba(0, 87, 107, 0.1);
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.25rem;
}

.logo {
  color: #f5f5f5;
  position: relative;
  z-index: 1;
}
.logo h5 {
  padding: 0;
}

.nav-links {
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 100%;
  top: 0;
  padding-top: 2.9rem;
  background-color: #00576b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
}
.nav-links li {
  list-style: none;
  opacity: 0;
}
.nav-links li a {
  color: #f5f5f5;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 2px;
  opacity: 1;
}
.nav-links li a:hover {
  opacity: 0.9;
  text-shadow: 0px 0px 40px rgba(245, 245, 245, 0.7);
}
@media (min-width: 43.75em) {
  .nav-links {
    width: 50%;
  }
}
@media (min-width: 62em) {
  .nav-links {
    display: flex;
    width: 40%;
    height: inherit;
    padding-top: 0;
    flex-direction: row;
    position: relative;
    top: 0;
    transform: none;
  }
  .nav-links li {
    opacity: 1;
  }
}
@media (min-width: 87em) {
  .nav-links {
    width: 35%;
  }
}

.burger {
  cursor: pointer;
  display: inline-block;
  padding: 9px;
}
.burger:hover {
  background-color: #002e40;
}
@media (min-width: 62em) {
  .burger {
    display: none;
  }
}

.burger div {
  width: 24px;
  height: 2px;
  background-color: #f5f5f5;
  margin: 6px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (min-width: 43.75em) {
  .front-page {
    padding: 3rem 0 3rem 0;
  }
}
@media (min-width: 62em) {
  .front-page {
    padding: 4rem 0 4rem 0;
  }
}
@media (min-width: 87em) {
  .front-page {
    padding: 6rem 0 6rem 0;
  }
}

.front-page .left {
  padding: 0 2rem 0 0;
  max-width: 60ch;
}
@media (min-width: 62em) {
  .front-page .left {
    padding: 0 3rem 0 0;
  }
}
.front-page .left h1 {
  padding: 0 0 0.5em 0;
}

.front-page .right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2rem 2rem 0 0;
  max-width: 60ch;
}
@media (min-width: 43.75em) {
  .front-page .right {
    justify-content: left;
  }
}
@media (min-width: 62em) {
  .front-page .right {
    justify-content: center;
  }
}

.new-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.new-post .img-div img {
  display: block;
  max-width: 100%;
  height: auto;
}
.new-post .info-div {
  padding: 1.5rem 1rem 1.5rem 1rem;
}
.new-post .info-div .title {
  padding: 1rem 0rem 0.5rem 0rem;
}
.new-post .info-div .title a {
  color: #141414;
  text-decoration: none;
  font-weight: 600;
}
.new-post .info-div .title a:hover {
  color: #00576b;
}
.new-post .read-more {
  color: #141414;
  text-decoration: none;
  font-weight: 600;
  padding: 0.75rem 0rem 1rem 0rem;
  border-top: 1px solid rgba(224, 225, 228, 0.5);
}
.new-post .read-more:hover {
  background-color: rgba(224, 225, 228, 0.5);
  color: rgba(20, 20, 20, 0.9);
}
.new-post .read-more div {
  display: flex;
  justify-content: center;
}

.title-row {
  margin-bottom: 2rem;
  padding-right: 0.8rem;
}
.title-row .read-all-1 {
  display: none;
}
@media (min-width: 62em) {
  .title-row .read-all-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.read-all-2 {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 62em) {
  .read-all-2 {
    display: none;
  }
}

@media (min-width: 43.75em) {
  .submit-section {
    max-width: 60ch;
  }
}
.submit-section h4 {
  font-weight: 600;
}
.submit-section .text-card {
  padding: 1.5rem 3rem 2rem 2.5rem;
}
.submit-section .button {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
