// ==IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

// ==FUNCTIONS

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

// ==VARIABLES

// ===Colors
$primary: #00576b;
$primary-light: #00829f;
$primary-dark: #002e40;
$dark: #141414;
$dark-gray: #3b3b3b;
$light-gray: #e0e1e4;
$light-1: #f5f5f5;
$light-2: #eceff1;

// ===Text
$text-ratio: 1.25;

// ===Media Queries
$tablet: 43.75em; //700px
$small-screen: 62em; //992px
$large-screen: 87em; //1392px

/*
  @media (min-width: $tablet) {

  }
  @media (min-width: $small-screen) { 
    
  }
  @media (min-width: $large-screen) {
    
  }
*/

// == BACKGROUNDS

.dark-bg {
  background-color: $dark;
}

.light-1-bg {
  background-color: $light-1;
}

.light-2-bg {
  background-color: $light-2;
}

// == TYPOGRAPHY

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@for $i from 1 to 7 {
  h#{$i} {
    font-size: 1rem * pow($text-ratio, (6-$i));
    font-weight: 400;
    margin: 1em 0em 0.5em 0em;
  }
}

.text-large {
  font-size: 1rem * $text-ratio;
}

p, .text-medium {
  font-size: 1rem;
}

.text-small {
  font-size: 1rem / $text-ratio;
}

// == BUTTONS


.btn {
  border-radius: 45px;
  padding: 0.5em 2em;
  border: none;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.btn-primary {
  @extend .btn;
  background-color: $primary;
  color: $light-1;
  &:hover {
    background-color: $primary-dark;
  }
}

.btn-light {
  @extend .btn;
  background-color: $light-1;
  color: $dark;
  &:hover {
    opacity: 85%;
  }
}

.category {
  display: inline-block;
  background-color: rgba($primary, .05);
  color: $primary;
  border: 1px solid $primary;
  border-radius: 50px;
  padding: 0.2em 1.5em;
  text-decoration: none;
  &:hover {
    background-color: rgba($primary, 0.2);
    font-weight: 600;
  }
}

.tag {
  @extend .text-small;
  display: inline-block;
  background-color: rgba($dark, .05);
  border: 1px solid $light-gray;
  border-radius: 50px;
  padding: 0.2em 1em;
  text-decoration: none;
  &:hover{
    background-color: rgba($dark, .15);
    font-weight: 600;
  }
}

// == LAYOUT

.container{
  margin: 0 5vw;
  @media (min-width: $small-screen){
    margin: 0 8vw;
  }
  @media (min-width: $large-screen){
    max-width: 75em;
    margin: 0 auto;
  }
}

.row {
  padding: 3rem 0;
  @media (min-width: $small-screen) {
    display: flex;
  }
}

.col-50{
  @media (min-width: $small-screen) {
    flex: 50%;
  }
}
 

// == NAVIGATION

body{
  overflow-x: hidden;
}

nav {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.25rem;
    
  }
  background-color: $primary;
  box-shadow: 0px 4px 20px rgba($primary, .1);
}

.logo {
  color: $light-1;
  position: relative;
  z-index: 1;
  h5 {
    margin: 0;
  }
}

.nav-links{
  position: absolute;
  right: 0px;
  height: 100vh;
  width: 100%;
  top: 0;
  padding-top: 2.9rem;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
  li {
    list-style: none;
    opacity: 0;
    a{
      color: $light-1;
      font-weight: 600;
      text-decoration: none;
      padding-bottom: 2px;
      opacity: 0.9;
      &:hover {
        opacity: 1;
        text-shadow: 0px 0px 40px rgba($light-1, 0.7);
        border-bottom: 2px solid rgba($light-1, 0.9);
        transition: border-bottom ease-in-out 0.08s;
      }
    }
  }
  @media (min-width: $tablet) {
    width: 50%;
  }
  @media (min-width: $small-screen) {
    display: flex;
    width: 40%;
    height: inherit;
    padding-top: 0;
    flex-direction: row;
    position: relative;
    top: 0;
    transform: none;
    li {
      opacity: 1; 
    }
  }
  @media (min-width: $large-screen) {
    width: 35%;
  }
}

.burger{
  cursor: pointer;
  display: inline-block;
  padding: 9px;
  &:hover{
    background-color: $primary-dark;
  }
  @media (min-width: $small-screen) { 
    display: none;
  }
}

.burger div{
  width: 24px;
  height: 2px;
  background-color:$light-1;
  margin: 6px;
  transition: all 0.3s ease;
}


.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

// == Front Page Header

.front-page {
  padding: 3rem 0 2rem 0;
  @media (min-width: $tablet){
    padding: 5rem 0 5rem 0;
  }
  @media(min-width: $small-screen){
    padding: 6rem 0 6rem 0;
  }
  @media(min-width: $large-screen) {
    padding: 8rem 0 8rem 0;
  }
}

.front-page .left {
  padding: 0 2rem 0 0;
  max-width: 60ch;
  @media (min-width: $small-screen) {
    padding: 0 3rem 0 0;
  }
  h1 {
    margin: 0 0 0.5em 0;
  }
}

.front-page .right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2rem 2rem 0 0;
  max-width: 60ch;
  @media (min-width: $tablet) {
    justify-content: left;
  }
  @media (min-width: $small-screen) {
    justify-content: center;
    // padding: 0 0 0 4rem;
  }
}